<div class="panel-heading">
  <h3 class="panel-title"><%= name %></h3>
</div>
<div class="panel-body">
  <div class="list-group">
    <div class="list-group-item display">
      <% if (typeof display === "object") { %>
        <img src="data:image/jpeg;base64,<%= display.content %>"/>
      <% } %>
    </div>
  </div>
</div>
